<body bgcolor="#E6E6FA">
<h1 align='center'>Choose your sign!</h1>
<h2 align='center'>
<img src='http://www.gardenclassics.co.nz/img/product/rock-large-rock-large.gif' height="200" width="200">
<img src='http://www.eckersleys.com.au/site/assets/media/Products/Jasart/Jasart_Creativity_Paper/JAS-PAP-Creativity-Bright-Paper.jpg' height="200" width="200">
<img src='http://librarylostfoundblog.files.wordpress.com/2013/06/scissors.jpg' height="200" width="200">
</h2>
</body>