<body bgcolor="#E6E6FA">

<% if @name %>

<h1 align='center'>Hello <%= @name %></h1>

<h2 align='center'>Choose your sign!</h2>

<form action='/result' method='post'>
<input type='submit' name='rock' value='rock'>
</form>

<form action='/result' method='post'>
<input type='submit' name='paper' value='paper'>
</form>

<form action='/result' method='post'>
<input type='submit' name='scissors' value='scissors'>
</form>

<% else %>

<h1 align='center'> Welcome to Rock, Paper, Scissors!</h1>

<h2 align='center'><form action='/register' method='post'>
	Name: <input type='text' name='player_name'>
	<input type='submit' value='Register'</h2>
</form></p>

<% end %>