<h1> Welcome to Rock, Paper, Scissors!</h1>

<% if @name %>
<h1>Greetings <%= @name %></h1>
<p><a href='/new_game'>Ready to play?</p>
<% else %>

<h3>Start a new game?</h3>

    <p><a href='/registration'>Register</a></p>
<% end %>