<h1 align='center'> Welcome to Rock, Paper, Scissors!</h1>
<body bgcolor="#E6E6FA">
<% if @name %>
<h2 align='center'>Hello <%= @name %></h2>
<h3 align='center'><a href='/ready_to_play'>Ready to play?</h3>
<% else %>

<h3 align='center'>Register to play</h3>

    <p align='center'><a href='/registration'>Register</a></p>
 </body>
<% end %>