<body bgcolor="#E6E6FA">
<h1 align='center'>What's your name?</h1>

<h2 align='center'><form action='/ready_to_play' method='post'>
	Name: <input type='text' name='player_name'>
	<p><input type='submit' value='Register'</p></h2>
</form>
</body>
